main, #team, #trade, h1 {
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
}
main h1 {
    font-size: 3vw;
    text-decoration: underline;
    display: inline-block;
}

main section img {
    height: 24vw;
    width: 40vw;
    flex: 1;
}

#team, #trade {
    column-count: 2;
    column-gap: 5vw;

}

main div {
    display: inline-block;
    width: 40vw;
    text-align: center;
}

main div p {
    font-size: 2vw;
}
