main img {
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    border: .15vw solid #e81828;
}

main table th {
    font-size: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

#pitchers tr, #catchers tr, #infielders tr, #outfielders tr, #dh tr{
    height: 10vw;
    font-size: 2.5vw;
    text-align: center;

}

main {
    margin: 2vw;
}

table {
    margin-bottom: 5vw;
}
